body {
  width: 100%;
  height: 100%;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
  display:  flex;
  flex-direction: column;
  margin: 5px 5px;
  padding: 25px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: darkslategray;
  background-color: ivory;
}

hr {
  width: 85%;
}

li {
  text-align: center;
  padding: 3px;
  width: 100%;
  list-style: none;
}

.quoteDisplay {
    color: darkslategrey;
    background-color: blanchedalmond;
}

.dropbtn {
  text-align: center;
  letter-spacing: 1px;
  background-color: whitesmoke;
  width: 50%;
  color: darkslategrey;
  font-weight: 500;
  padding: 14px;
  font-size: 18px;
  border-color: darkslategrey;
  cursor: pointer;
  border-radius: 23px;
}